extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg",alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lectus quam, cursus nec diam eget, sagittis laoreet ante. Maecenas nec nisi vitae dui imperdiet consequat. Morbi non magna sodales arcu ultrices convallis sit amet eget ipsum. Integer dignissim, lectus quis luctus finibus, ante risus porta nulla, non elementum sapien velit quis dui. Aenean finibus varius ligula sit amet dictum. Curabitur in est sed justo faucibus lobortis at quis nulla. Pellentesque pretium magna in libero porta, ac hendrerit quam pharetra. Pellentesque id dolor at sem ullamcorper vestibulum. Quisque efficitur nunc eget fermentum posuere. Integer molestie magna at viverra egestas. Nulla facilisi. Phasellus accumsan ullamcorper nibh rutrum ornare. Duis pretium laoreet libero, et posuere libero tempor at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas suscipit, sem ut efficitur vestibulum, sapien orci elementum eros, eu varius sapien dolor quis dui.

                p Suspendisse non urna sapien. Praesent at mattis nunc. Maecenas id convallis elit. Curabitur vulputate elit non libero cursus, eget tincidunt justo tristique. Nunc rhoncus ullamcorper augue vitae cursus. Curabitur sed posuere ante. Proin semper lectus a velit tincidunt, in porta neque dictum. Morbi mollis dictum maximus. Ut tempor eu sem vitae elementum.

                p Ut sit amet mollis dui, ac cursus massa. Duis efficitur eu risus aliquam posuere. Donec pulvinar tortor eu sapien accumsan, in faucibus elit pretium. Nullam porta risus a quam varius, id eleifend dui dapibus. Fusce felis magna, consectetur in metus et, tristique pharetra ex. Nulla consequat, diam feugiat aliquet egestas, urna urna vehicula neque, ut posuere quam mauris sed elit. Curabitur tincidunt augue sem, non mattis neque placerat eu. Sed convallis libero eget lorem eleifend, ut suscipit ante egestas.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Suspendisse non urna sapien. Praesent at mattis nunc. Maecenas id convallis elit.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Suspendisse non urna sapien. Praesent at mattis nunc. Maecenas id convallis elit.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Suspendisse non urna sapien. Praesent at mattis nunc. Maecenas id convallis elit.